<div class="formfail">
  <center>
    <% if params[:action] == "new" %>
         <h1>New Photo</h1><br />
    <% else %>
         <h1>Edit Photo</h1><br />
    <% end %>
    
      <%= simple_form_for(@fail) do |f| %>

            <%= f.error_notification %>
            <%= f.full_error :image_file_size, class: "alert alert-error" %>
            <%= f.full_error :image_content_type, class: "alert alert-error" %>


            <strong><p>Title of the Photo</p></strong>
            <%= f.input :fail_title, label: "" %><br />
          
            
            <strong><p>Upload a Photo</p></strong>
            <%= f.input :image, label: "" %><br />


            <%= f.input :description, as: :text, input_html: { rows: "3"} %>
           
            <strong><p>Photo Tags (Serarate by comma!)</p></strong>
            <%= f.input :tag_list %>

            <div class="form-actions">
              <%= f.button :submit, class: "btn btn-primary" %>
            </div>

      <% end %>
  </center>
</div>