<div class="row">
	<div class="span6 offset2">
		<div class="boxtwo">
			
			<center>
				    <b><u><p style="font-size:22px;"><%= @album.name %></p></u></b>
				    <%= image_tag @album.image %>
					<div class="span7">
							<% if current_user == @album.user %><br />
							<table border="0" bordercolor="" style="background-color:" width="250px" cellpadding="3" cellspacing="3">
								<tr>
									<td><%= link_to 'Edit This album', edit_album_path(@album), class: "btn btn-small btn-warning" %></td>
									<td><%= link_to 'Delete This album', @album, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %></td>
								</tr>
							</table>

							<% end %>

					</div>
			</center>


		</div>

		<center><%= link_to 'Add Photos', "/albums/#{@album.id}/fails/new", class: "btn btn-large btn-success" %></center>

	</div>

</div>