
<div class="formfail">
<center>
<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.error_notification %>

	<%= f.input :email %>

	<%= f.input :password %>

	<center><%= f.input :remember_me, as: :boolean %></center>

  <div class="form-actions"><%= f.submit "Sign in", class: "btn btn-info" %></div>
<% end %>

<%= render '/devise/shared/signup' %>



</center>
</div>