<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to image_tag("https://s3.amazonaws.com/failboard/logofail2.png"), root_path, :class => 'brand' %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
         <ul class="nav">
             <li><%= link_to "Home", root_path %></li>
             <li><%= link_to "About", about_path %></li>
             <li><%= link_to "#Failboard", fails_path %></li>
             <li></li>
         </ul>
         <ul class="nav">
          <li><a href="/fails/new"><button class="btn btn-success">Add a #Fail</button></a></li>
          <li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Finfinite-bastion-8143.herokuapp.com&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=534777629886814" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:21px; float: center; padding-top: 20px;" allowTransparency="true"></iframe></li>
         </ul>
         <%= link_to(current_user.name, current_user) %>
          <ul class="nav pull-right">
            <% if user_signed_in? %> 
              <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>
                  <span class="caret"></span>
              </button>
                <ul class="dropdown-menu">
                  <!-- dropdown menu links -->
                  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
            <% else %>
            <ul class="nav">
              <li style="padding-top: 10px;"><%= link_to image_tag("https://s3.amazonaws.com/failboard/fblogin.png"), user_omniauth_authorize_path(:facebook)%></li>
              <li><a href="/users/sign_in"><button class="btn btn-info btn-primary">Login</button></a></li>
            </ul>
            <% end %>
         </ul>
      </div>
 
    </div>
  </div>
</div>