<!DOCTYPE html>
<html>
<head>
  <title>#Failboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta property="og:image" content="https://failboard.s3.amazonaws.com/failboard/fail/image/14/tatooine.jpg?AWSAccessKeyId=AKIAIILBLZ2OJVD56EIQ&Signature=iMcsNessMId1CPwCnD%2BY2D8C6W4%3D&Expires=1362818901"/>
  <meta property="og:title" content="#Failboard"/>
  <meta property="og:description" content="Hilarious #Fail Pictures from around the web">
  <meta property="og:url" content="http://infinite-bastion-8143.herokuapp.com"/>
  <meta property="og:site_name" content="#Failboard"/>
  <meta property="og:type" content="profile"/>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="js/jquery.social.share.2.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/social.css" media="all" />
  <%= csrf_meta_tags %>
</head>
<body>


    <%= render 'layouts/header' %>
     
     <div class="container">
     	<% flash.each do  |name, msg| %>
     		<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
     	<% end %>
        <%= yield %>

 <%= debug(params) if Rails.env.development? %>

    </div>
</body>
</html>
